body {
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;
}

.img {
    height: auto;
    max-width: 400px;
}

.navbar {
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0px;
    width: 100%;
    ul {
        background-color: #756764;
        height: 60px;
        width: 100%;
    }
    li {
        height: 60px;
        padding: 0 20px;
    }
    li:hover {
        background-color: #568F03;
    }
    a {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
    .img:hover {
        background-color: #756764;
    }
    .logo-img {
        height: auto;
        width: 40px;
    }
}

.title {
    background-attachment: fixed;
    background-image: url('../assets/imgs/bg.png');
    background-size: cover;
    color: #fff;
    margin-bottom: 50px;
    padding: 200px 0;
    h1 {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-weight: 300;
        text-align: center;
    }
}

.a-propos {
    margin-bottom: 50px;
    padding: 0 30px;
    h3 {
        color: #74A647;
        font-size: 24px;
        font-weight: 300;
    }
    p {
        font-weight: 300;
        padding: 0 50px;;
        text-align: justify;
    }
}

.produits {
    margin-bottom: 50px;
    padding: 0 30px;
    h3 {
        color: #74A647;
        font-size: 24px;
        font-weight: 300;
    }
    .article-container {
        border-top: 1px solid #74A647;
        border-bottom: 1px solid #74A647;
        .article {
            max-width: 300px;
            padding: 20px;
            h4 {
                color: #756764;
                font-size: 14px;
                text-transform: uppercase;
            }
            p {
                text-align: justify;
            }
            .img-container {
                
                .img {
                    border-radius: 5px;
                    height: 200px;
                    width: auto;
                }
            }
        }
    }
}

.contact {
    margin-bottom: 50px;
    padding: 0 30px;
    p {
        text-align: center;
    }
    .button-base {
        background-color: #74A647;
        border-radius: 3px;
        margin: 20px 0;
        padding: 20px;
        .link {
            color: #fff;
            font-size: 16px;
            font-weight: 300;
        }
    }
    .button-base:hover {
        background-color: #568F03;
    }
}

.footer {
    ul {
        background-color: #756764;
        height: 80px;
        width: 100%;
        li {
            color: #e6e6e6;
            font-weight: 300;
            padding: 0 10px;
        }
        .link {
            color: #e6e6e6;
        }
        .link:hover {
            color: #fff;
        }
    }
}